<%- include('partials/header'); -%>


<% articles.forEach(function(article){ %>
<div class="news-div">
  <div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
      <div class="col news-heading">
          <h1><%=article.name%></h1>
          <p>Autor: <%=article.author%></p>
          <p>Data<%=article.date%></p>
      </div>
      <div class="col news-img-div">
        <img class="news-img" src="<%=article.photo%>">
      </div>
    </div>
  </div>

  <p class="news-p"><%=article.content%></p>
</div>
<%}); %>

<form class="" action="/" method="get" style="padding-bottom: 25px;">
  <button type="submit" class="btn btn-outline-secondary btn-return">Strona główna</button>
</form>

<%- include('partials/footer'); -%>
