<%- include('partials/header'); -%>

<div class="overview-div">
  <div class="overview-top">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
      <div class="col">
        <h1 class="overview-h1" name="name"><%=name%></h1>
      </div>
      <div class="col">
        <h1 class="overview-h1" name="name"><%=logo%></h1>
        <img class="crypto-icon" src="" name="logo">
      </div>
    </div>
  </div>

  <p class="overview-p" name="description"><%=description%></p>
</div>

<%- include('partials/footer'); -%>
