<%- include('partials/panel-header'); -%>

<div class="album">
  <div class="container">

    <div class="container">
      <form class="" action="/compose-crypto" method="get">
        <button type="submit" name="button" class="btn btn-sm btn-outline-secondary">Dodaj</button>
      </form>
    </div>

    <% overviews.forEach(function(overview){ %>
      <div class="card">
        <div class="card-header">
          <%= overview.name %>
        </div>
        <div class="card-body">
          <div class="col boxcol">
            <form action="/delete-crypto" method="post">
              <button class="btn btn-sm btn-outline-secondary" type="submit" name="button" value="<%=overview._id%>">Usuń</button>
            </form>
          </div>
          <div class="col boxcol">
            <form class="" action="/update/<%=overview._id%>" method="get">
              <button type="submit" class="btn btn-sm btn-outline-secondary">Zobacz</button>
            </form>
          </div>
        </div>
      </div>

    <%}); %>
  </div>
</div>



<%- include('partials/footer'); -%>
