<%- include('partials/panel-header'); -%>

<div class="album">
  <div class="card-header" >
    Udostępnione artykuły
  </div>
  <div class="card-body">

    <div class="container">
      <form class="" action="/compose-news" method="get">
        <button type="submit" name="button" class="btn btn-warning" class>Napisz artykuł</button>
      </form>
    </div>

    <% articles.forEach(function(article){ %>

      <div class="card" style = "text-align: left;">
        <div class="card-header">
          <%= article.name %>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col boxcol">
              <form action="/delete-news" method="post">
                <button class="btn btn-danger" type="submit" name="button" value="<%=article._id%>">Usuń</button>
              </form>
              <form class="" action="/update-news/<%=article._id%>" method="get">
                <button type="submit" class="btn btn-primary">Zaktualizuj</button>
              </form>
            </div>
            <div class="col boxcol">
              <p><%=article.content.substring(0, 250)%>...</p>
            </div>
          </div>
        </div>
      </div>

    <%}); %>
    <form class="" action="/panel" method="get">
      <button type="submit" name="button" class="btn btn-primary">Wróć do panelu</button>
    </form>
  </div>
</div>

<%- include('partials/footer'); -%>
