<%- include('partials/panel-header'); -%>

<div class="album">
  <div class="container">

    <div class="container">
      <form class="" action="/compose-news" method="get">
        <button type="submit" name="button" class="btn btn-sm btn-outline-secondary">Dodaj</button>
      </form>
    </div>

    <% articles.forEach(function(article){ %>

      <div class="overv">
        <h1><%= article.name %></h1>
        <div class="col boxcol">
          <form action="/delete-news" method="post">
            <button class="btn btn-outline-dark" type="submit" name="button" value="<%=article._id%>">Usuń</button>
          </form>
        </div>
        <div class="col boxcol">
          <form class="" action="/update-news/<%=article._id%>" method="get">
            <button class="btn btn-outline-dark" type="submit" name="button" value="<%=article._id%>">Zobacz</button>
          </form>
        </div>
      </div>
    <%}); %>
  </div>
</div>

<%- include('partials/footer'); -%>
