<%- include('partials/panel-header'); -%>
<h1 class="main-h1"> Zaktualizuj Artykuł </h1>

<form action="/update-news" method="post">
  <div class="compose-form" action="index.html" method="post">
    <label>Autor</label>
    <input class="form-control" value="<%=author%>" type="text" name="articleAuthor">
    <label>Tytuł</label>
    <input class="form-control" value="<%=name%>" type="text" name="articleName">
    <label>Treść</label>
    <textarea class="form-control" name="articleContent" style="height: 300px;"><%=content%></textarea>
    <label>Zdjęcie</label>
    <input class="form-control" value="<%=photo%>" type="text" name="articlePhoto">
    <label>Data</label>
    <input class="form-control" value="<%=date%>" type="text" name="articleDate">
    <label>Id</label>
    <input class="form-control" value="<%=_id%>" type="text" name="articleId" readonly>
    <p>
  </div>
    <button type="submit" name="button" class="btn btn-primary">Zakutalizuj i udostępnij</button>
</form>

<form class="" action="/panel" method="get">
  <button type="submit" name="button" class="btn btn-primary">Wróć do panelu</button>
</form>
<%- include('partials/footer'); -%>
